.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 56px auto 0 -53px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 388px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 33px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 138px 176px 0 7px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 7px 7px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 62px 7px -37px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 194px;
  background-image: none;
  margin-top: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 157px;
  margin: 23px 30px 0 20px;
}

.u-section-1 .u-image-1 {
  min-height: 582px;
  background-image: url("images/pexels-photo-2007647.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-1 .u-custom-html-2 {
  margin-bottom: 0;
  margin-top: -13px;
  min-height: 113px;
  height: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 69px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 848px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 636px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 25px;
  }

  .u-section-1 .u-image-1 {
    min-height: 400px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 765px;
}

.u-section-2 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 110px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-text-1 {
  width: 680px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-2 .u-video-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-2 .u-video-1 {
    height: 241px;
    width: 347px;
    margin-top: 47px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.625rem;
    width: auto;
    margin-top: 43px;
    margin-left: -10px;
    margin-right: -10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 656px;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 204px auto 0;
  padding: 25px 253px 26px 251px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 17px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-top: 144px;
    margin-left: -42px;
    margin-right: -42px;
    padding-right: 201px;
    padding-bottom: 27px;
    padding-left: 200px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 76px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    margin-top: 87px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 133px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-btn-1 {
    font-size: 1.875rem;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 150px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 147px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 605px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 58px auto 0 422px;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 102px auto 0 33px;
  padding: 59px 73px 60px 72px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-size: 1.875rem;
  background-image: linear-gradient(to right, #478ac9, #e68387);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: -167px auto 0 412px;
  padding: 59px 97px 60px 96px;
}

.u-section-4 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0px;
  margin: -167px 33px 0 auto;
  padding: 59px 123px 60px 122px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-left: 348px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 79px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 50px;
    margin-left: 0;
    padding-right: 124px;
    padding-left: 124px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: -1px;
    margin-bottom: 38px;
    padding-right: 125px;
    padding-left: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 28px;
    margin-left: 267px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 65px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 87px;
    padding-right: 95px;
    padding-left: 95px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
    padding-right: 93px;
    padding-left: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 71px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 59px;
    margin-left: auto;
    padding-right: 117px;
    padding-left: 115px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 59px;
    margin-right: auto;
    margin-bottom: 22px;
    padding-right: 115px;
    padding-left: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 206px;
    margin-top: 54px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 229px;
    padding-right: 13px;
    padding-left: 12px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -369px;
    padding: 55px 57px 57px 55px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 251px;
    margin-bottom: 42px;
    padding-right: 55px;
    padding-left: 54px;
  }
}border-radius: 30px;
.border-radius {
}